.container-word{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle,black,rgb(17, 17, 17));
}
.word-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  /* background-color: red; */
  gap: 10px;
}
.input-word{
    all: unset;
    /* background-color: blue; */
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    transition: all 0.2s ease;
    width: auto;
    margin: 10px;
    padding: 10px;
}